<style>
    footer {
        text-align: center;
        background-color: black;
        
    }
    .footer-text {
        color: rgb(166, 166, 0);
        padding-top: 2%;
        padding-bottom: 2%;
        
    }
    .stores {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        align-items: center;
        justify-content: center;
        gap: 3%;
        padding-top: 40px;
        padding-bottom: 70px;
    }
    .stores iframe {
        border: 2px solid rgb(166, 166, 0);
        
        height: 300px
    }
    footer h3 {
        color: rgb(166, 166, 0);
    }
   
</style>

<footer>
    <p class="footer-text">&copy; 2024 - Emporium.</p>
    <h3>Lojas</h3>
    <div class="stores">
       
        <div class="store">
            <iframe loading="lazy" src="https://maps.google.com/maps?q=R.%20Vinte%20e%20Seis%2C%20427%20-%20Centro%2C%20Ituiutaba%20-%20MG%2C%2038300-080&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near" title="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080" aria-label="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080"></iframe>
        </div>
        <div class="store">
            <iframe loading="lazy" src="https://maps.google.com/maps?q=R.%20Vinte%20e%20Seis%2C%20427%20-%20Centro%2C%20Ituiutaba%20-%20MG%2C%2038300-080&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near" title="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080" aria-label="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080"></iframe>
        </div>
        <div class="store">
            <iframe loading="lazy" src="https://maps.google.com/maps?q=R.%20Vinte%20e%20Seis%2C%20427%20-%20Centro%2C%20Ituiutaba%20-%20MG%2C%2038300-080&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near" title="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080" aria-label="R. Vinte e Seis, 427 - Centro, Ituiutaba - MG, 38300-080"></iframe>
        </div>
    </div>
    
        <a target="_blank" href="https://api.whatsapp.com/send?phone=553499937440&text=ISSO%20%C3%89%20UM%20TESTE"><i class="bi bi-whatsapp fs-4 icon"></i></a>
        <a target="_blank" href="https://www.instagram.com/emporiumcalcadoseroupas/"><i class="bi bi-instagram fs-4 icon"></i></a>   
    
</footer>

