<style>
    .menu {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: black;
        padding: 20px;
        justify-content: center;
        gap: 30%;
    }
    
    .link {
        background-color: black;
        display: inline-block;
        margin-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.5s;
    }
    
    .link:hover {
        background-color: rgb(166,166,0);
        border-radius: 5px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .logo-icon{
        color: rgb(166,166,0);
        
    }
    .icons-sociais {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
</style>

<script>

</script>


<div class="menu">
    <div class="icon-logo">
        <i class="bi bi-gem logo-icon"></i>
    </div>
    <div class="links">
        <div class="link">
            <a href="#" onclick="">Tênis</a>
        </div>
        <div class="link">
            <a href="#">Moletons</a>
        </div>
        <div class="link">
            <a href="#">Calças</a>
        </div>
        <div class="link">
            <a href="#">Shorts</a>
        </div>
        <div class="link">
            <a href="#">Bonés</a>
        </div>
        <div class="link">
            <a href="#">Acessórios</a>
        </div>
    </div>
    <div class="icons-sociais">
        <a href="https://api.whatsapp.com/send?phone=553499937440&text=ISSO%20%C3%89%20UM%20TESTE"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.instagram.com/emporiumcalcadoseroupas/"><i class="bi bi-instagram"></i></a>   
    </div>
  
</div>
