<style>
    .title {
        align-items: center;
        text-align: center;
        background-color: rgb(15,15,15);
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .title-text {
        color: rgb(166, 166, 0);
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
    .subtitle-text {
        color: rgb(166, 166, 0);
        margin-top: 0px; 
        font-size: 1rem;
        text-decoration: none;
    }
    .title-text:hover {
        color: rgb(255, 255, 0);
        transition: 0.7s;
        
    }
    .subtitle-text:hover {
        
        color: rgb(255, 255, 0);
        transition: 0.7s;
    }
    .title-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .title-text {
        margin-left: 2.5rem;
        margin-right: 15px;
    }
</style>

<div class="title">
    <div class="title-icon">
        <div>
            <p class='title-text'><strong>EMPÓRIUM</strong></p>
        
        </div>
        <div><a href="{% url 'products_list' %}">
            <i class="bi bi-gem fs-1 logo-icon"></i>
        </a> </div>
        
    </div>
    <div>
        <p class='subtitle-text'>Calçados e Roupas</p>
    </div>
    
</div>