<style>
    .title {
        align-items: center;
        text-align: center;
        background-color: rgb(15,15,15);
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .title-text {
       color: rgb(166, 166, 0);
    }
    .subtitle-text {
        color: rgb(166, 166, 0);
        margin-top: 0px; 
    }
</style>

<div class="title">
    <div>
        <p class='title-text'><strong>EMPORIUM</strong></p>
    </div>
    <div>
        <p class='subtitle-text'>A melhor loja da região</p>
    </div>
    
</div>